# macOS
.DS_Store

# Editor settings
.vscode/
.idea/

# Node (for future use)
node_modules/
dist/

# === Backups / Temporary Files ===
*_bu.js
*.bu
*.txt
**/テンポラリ_*.txt
出荷指示/元/

# === Ignore all Backup folders across apps ===
退避_*/
*/退避_*/
